@font-face {
    font-family: "Fontfabric - UniNeueBold";
    src: url("./assets/Uni.Neue/Fontfabric - UniNeueBold.otf");
}

#logo {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Fontfabric - UniNeueBold', Fallback, sans-serif;
}

section {
    background-color: white;
}

footer {
    color: whitesmoke;
    text-align: center;
}

.navbar-wrapper {
    position: relative;
}

.carousel {
    top: 0;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
}

.lg-navbar {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: black;
    width: 100%;
    font-family: 'Fontfabric - UniNeueBold', Fallback, sans-serif;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter>[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    width: 100%;
    color: white;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}

.slideshow-caption {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}

.hide {
    display: none;
}